{%extends 'main.html'%} {%load static%} {%block content%}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/images/saroj1.jpg" class="d-block w-100" alt="..." />
    </div>
  </div>
</div>
<div class="container">
  <p style="margin-top: 10px;">
    Hello, My name is <span style="font-weight: bold;">Saroj Basnet</span>
    I am from Tulsipur Dang, Nepal. I am an Electronics and Communication
    Engineering student at Paschimanchal Engineering Campus Pokhara,Nepal.
    <br />
    <br>
    Send me your message at: saroj.basnet1237@gmail.com
  </p>
</div>
{%endblock%}
