<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <!--googl fonts-->
    <link
      href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap"
      rel="stylesheet"
    />
    <!--custom css-->
    <link rel="stylesheet" type="text/css" href="static/css/default.css" />
    <title>Saroj Basnet</title>
  </head>
  <body>
    <nav class="Navbar">
      <div class="logo">SAROJ</div>
      <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </a>
      <div class="nav-links-wrapper">
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'posts' %}">Posts</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
        </ul>
      </div>
    </nav>
    {% block content %}
    <!-- Content goes here -->
    {% endblock content %}
    <footer class="page-footer font-small special-color-dark pt-4">
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        © 2020-2021: Copyright:
        <a href="#"> saroj1237.herokuapp.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <script src="static/js/script.js" defer></script>
  </body>
</html>
